.flashcardsContainer {
    display:flex;
    background-color: #232731;
    padding: 2rem;
}

.flashcardsList {
    display: flex;
    width:100%;
    list-style: none;
    justify-content: space-around;
}